/* wrapper */

/* slider */
.slider__container {
  padding: 130px 20px 80px 20px;
  text-align: center;
  background: #38d39f;
  position: relative;
  height: 100vh;
}

.slider__container .name h1 {
  font-family: "Dancing Script", cursive;
  margin-bottom: 30px;
  font-size: 50px;
  line-height: 1.3;
  -webkit-transform: rotate(-5deg);
  -moz-transform: rotate(-5deg);
  -ms-transform: rotate(-5deg);
  -o-transform: rotate(-5deg);
  transform: rotate(-5deg);
}

ul {
  padding: 0;
  margin: 0;
}

ul > li {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

h2 {
  font-size: 38px;
  font-weight: 100;
}

h2,
h3,
h4,
h5 {
  font-family: "Space Mono", Arial, serif !important;
}

.speaking {
  padding-top: 36px;
}

/* about me */
.about {
  padding: 0;
  margin: 0;
  font-family: "Space Mono", Arial, serif;
  padding: 50px 0;
  max-width: 1200px;
  margin: 0 auto;
}

.about__title {
  padding-bottom: 22px;
}

.about__content {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.about__content__left {
  width: 30%;
}

.about__content__right {
  width: 65%;
}

.about__title {
  text-align: center;
}

.about__content__left {
  display: flex;
}

.info__title {
  width: 40%;
}

.info__content {
  width: 55%;
}

.about__content__right__title h3 {
  font-weight: 100;
  font-size: 23px;
}

.about p {
  color: gray;
}

/* exp */
.exp {
  background: #38d39f;
  font-family: "Space Mono", Arial, serif;
}

.exp__container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 50px 0;
  color: white;
}

.exp__title {
  text-align: center;
  padding-bottom: 64px;
}

.exp__wrapper {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.exp__wrapper {
  display: flex;
  justify-content: space-between;
}

.exp__content {
  width: 31%;
  text-align: center;
}

.exp_img {
  width: 100%;
}

.exp__img img {
  width: 20%;
}

/* croll mouse */
.croll {
  padding-top: 50px;
}

.croll p {
  color: white;
  margin: 0;
  padding: 0;
}

.croll img {
  width: 1.5%;
}

/* technical */
.technical__container {
  display: flex;
  flex-flow: row wrap;
  padding-bottom: 50px;
}

.technical__container .item {
  width: 20%;
  font-family: "Space Mono", Arial, serif;
  font-weight: bold;
  display: flex;
  justify-content: center;
}

.technical__container .item p {
  width: 100px;
  height: 100px;
  border-radius: 100%;
  border: 2px solid #38d39f;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.technical__wrapper h2 {
  text-align: center;
  padding-bottom: 50px;
}

.technical__wrapper {
  padding: 72px 0 23px;
}

.footer {
  font-family: "Space Mono", Arial, serif;
  text-align: center;
}

/* contact */
.contact {
  padding: 4%;
  height: 400px;
}

.col-md-3 {
  background: #38d39f;
  padding: 4%;
  border-top-left-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
}

.contact-info {
  margin-top: 10%;
}

.contact-info img {
  margin-bottom: 15%;
}

.contact-info h2 {
  margin-bottom: 10%;
}

.col-md-9 {
  background: #fff;
  padding: 3%;
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}

.contact-form label {
  font-weight: 600;
}

.contact-form button {
  background: #25274d;
  color: #fff;
  font-weight: 600;
  width: 25%;
}

.contact-form button:focus {
  box-shadow: none;
}

.contact__wrapper {
  background: #38d39f;
  padding: 50px 0;
  font-family: "Space Mono", Arial, serif;
}

.croll {
  padding-top: 100px;
}

/* responsive */
@media only screen and (max-width: 520px) {
  .exp__content {
    width: 100%;
    padding-bottom: 28px;
    max-width: 400px;
    margin: 0 auto;
  }

  .exp__title {
    padding-bottom: 32px;
  }
}

@media only screen and (max-width: 600px) {
  .about__content__left {
    width: 100%;
  }

  .about__content__right {
    width: 100%;
  }

  .technical__container .item {
    width: 50%;
    padding-bottom: 50px;
  }

  .exp__content {
    width: 100%;
    padding-bottom: 28px;
    max-width: 400px;
    margin: 0 auto;
  }

  .exp__title {
    padding-bottom: 32px;
  }
}

@media only screen and (max-width: 900px) {
  .about {
    padding: 50px 32px;
  }

  .about__content__left {
    width: 100%;
  }

  .about__content__right {
    width: 100%;
  }

  .exp__content {
    width: 100%;
    padding-bottom: 28px;
    max-width: 400px;
    margin: 0 auto;
  }

  .exp__title {
    padding-bottom: 32px;
  }
}

@media only screen and (max-width: 1100px) {
  .about {
    padding: 50px 32px;
  }

  .exp__content {
    width: 100%;
    padding-bottom: 28px;
    max-width: 400px;
    margin: 0 auto;
  }

  .exp__title {
    padding-bottom: 32px;
  }
}
